

<div class="content" style="min-height: 500px;">
	<div class="container">			
		<div class="row">
			<div class="col-md-12">
				<div class="portlet">
					<div class="portlet-title">
						<div class="panel-caption caption-red">
							<i class="glyphicon glyphicon-pushpin"></i>
							<span class="panel-caption-subject bold font-yellow-crusta uppercase">
							Your Library </span>
						</div>
						<ul class="nav nav-tabs" ng-repeat="source in sourcesFromCart">
							<!-- repeat the source -->
							<li ng-if="$index == 0" data-ng-class="{'active' : clickedItem == $index}">
								<a ng-click="viewSource(source.url,$index)">
								{{source.sourcename}} </a>
							</li>
							<li ng-if="$index != 0" data-ng-class="{'active' : clickedItem == $index}">
								<a ng-click="viewSource(source.url,$index)">
								{{source.sourcename}} </a>
							</li>
						</ul>
					</div>
					<div class="row">
					<div class="portlet-body" ng-repeat="articleContent in articleContents">
						
						<div class="clearfix" ng-if="$index % 2 == 0"></div>
						<div class="col-md-6">
							<div class="tab-content">
								<div class="tab-pane active">
								<!-- start news -->
								

									<div class="portlet" style="margin-bottom: 20px;">
										<div class="portlet-title">
											<div class="panel-caption">
												<span class="caption-subject text-uppercase"> {{$index+1}}</span>
											</div>
											<div class="actions">
												<a href=""  ng-click="addNews(articleContent.sourcename,articleContent.title,articleContent.pubDate,articleContent.desc)" class="btn">
													<i class="glyphicon glyphicon-paperclip"></i>
													Add
												</a>
												<a href="" data-toggle="modal" data-target="#myModal" ng-click="fullSize(articleContent.title,articleContent.pubDate,articleContent.desc)" class="btn">
													<i class="glyphicon glyphicon-resize-full"></i>
													resize
												</a>
											</div>
										</div>
										<div class="portlet-body">
											<h4>{{articleContent.title}}</h4>
											<span class="caption-subject text-uppercase"> {{articleContent.pubDate}}</span>
											<br>
											<br>
											<p ng-bind-html="renderHtml(articleContent.desc)"></p>
											
										</div>
									</div>

								</div>

							</div>

						</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<footer class="site-footer"> 
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h5>Read Around © 2017</h5>
			</div>
		</div>
	</div>
</footer>

<!-- Large Modal for user to read the article clearly -->
<div class="modal" id="myModal" role="dialog">
	<div class="modal-dialog modal-lg" style="width:800px;">

	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h2 class="modal-title">{{title}}</h2>
		</div>
		<div class="modal-body">
		  <h5>{{date}}</h5>
		  <h4 ng-bind-html="renderHtml(desc)"></h4>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	  </div>
	  
	</div>
</div>

