<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin:1px;">
			<form>
				<div class="form-group">
					<div class="input-group"></div>
				</div>
			</form>

			<div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Your news <span class="badge">42</span></a></li>
					<li><a href="#tab-2" role="tab" data-toggle="tab" style="color:rgb(21,6,6);">Your news <span class="badge">42</span></a></li>
					<li>
						<a href="#tab-3" role="tab" data-toggle="tab"> </a>
					</li>
					<li>
						<a href="#tab-4" role="tab" data-toggle="tab"> </a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" role="tabpanel" id="tab-1">
						<div class="thread-list-head">
							<nav class="thread-pages">
								<ul class="pagination"></ul>
							</nav>
						</div>
						<ul class="thread-list">
							<li class="thread"><span class="time">Apr 21</span><span class="title">Hello</span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-star-empty"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
							<li
							class="thread"><span class="time">Apr 20</span><span class="title">Hello</span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-star-empty"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>

						</ul>
					</div>
					<div class="tab-pane" role="tabpanel" id="tab-2">
					

						<div class="thread-list-head">
							<nav class="thread-pages">
								<ul class="pagination"></ul>
							</nav>
						</div>
						<ul class="thread-list">
							<li class="thread"><span class="time">Apr 21</span><span class="title">Bye</span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-star-empty"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>
							<li
							class="thread"><span class="time">Apr 20</span><span class="title">Bye</span><span class="icon"> <a href="javascript:void(0)" class="subscribe"><i class="glyphicon glyphicon-star-empty"></i></a><a href="javascript:void(0)" class="flag"><i class="glyphicon glyphicon-flag"></i></a></span></li>

						</ul>

					
					
					</div>

				</div>
			</div>
		</div>
	</div>
</div>